@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
.bg-lightgreen {
	background-color: #16ce65;
}



.header-logo{
	width: 100px;
	max-width: 20%;
}

.navbar-nav .nav-item .nav-link{
	font-size: 20px;
	color: whitesmoke;
	font-weight: bold;
}

/* メニュー部分のデザイン */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	background-color: #2fc552;
	color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">"
}

.detail_content{
	padding-top: 10px;
}

.detail_content > p {
	width: 100%;
	border: 1px solid #2fc552;
	margin: 0 auto;
	font-size: 1.4em;
	color: rgb(6, 173, 0);
	background-color: rgb(230, 255, 213);
	padding: 15px 6px;
	margin: 0;
	box-shadow: 3px 3px 4px black;
}

.detail_content > p > a{
	color: rgb(6, 173, 0);
	font-weight: bolder;
}

.no_link{
	pointer-events:none;
}

.detail_content p a{
	display: block;
}



/* 豊講部分のデザイン */
.jumbotron {
	margin-top: 5px;
	background-image: url('../img/Top.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 90vh;
}


#top-doc{
	background-color: rgba(247, 255, 246, 0.85);
}
.title{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: rgb(255, 153, 0);
}
.subtitle{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 3.0rem;
	color: rgb(255, 153, 0);
}

.date{
	color: rgb(9, 73, 0);
	font-family: 'Anton', sans-serif;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 30px;
}


/* コンテンツ名称の緑色部分 */
.heading {
	border-left: 6px solid rgb(6, 173, 0);
	padding: 0 0 0 10px;
}



/* リンク部分のデザイン */
.card a{
	color: rgb(10, 10, 10);
	text-decoration: none;
}

.card a{
	transition:all .5s ease;
}

.caution{
	font-size: 10px;
}

.situation{
	color: red;
	font-size: 1.1em;
}

.situation2{
	color: rgb(173, 113, 0);
	font-size: 1.1em;
}

/* .card:hover a{
	background-color:rgb(218, 255, 213);
} */

.form{
	width:640px;
	height:450px;
	max-width: 100%;
	border: 0px;
}

.footer-copyright {
	text-align: center;
	width: 100%;
	height: 60px;
	padding-top:10px;
	background-color:rgb(6, 173, 0);
	color: white;
}

.footer-logo {
	height: 50px;
}
html {
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
	box-sizing: border-box;
  }
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
  }




/* 大デバイス（デスクトップ, 768px 以上）
============================================== */
@media screen and (min-width: 767.98px) {
	details{
		text-align: center;
		height: 50px;
	}

	.title{
		font-size: 70px;
	}
	.date{
		font-size: 40px;
	}

	.nav-item{
		margin: 0 auto;
		border-left: solid 1px whitesmoke;
		border-right: solid 1px whitesmoke;
	}
	
	.nav-item + .nav-item {
		border-left:none;
	}
} /* END */

/* 中デバイス（タブレット, 768px 未満）
============================================== */
@media screen and (max-width: 767.98px) {
	.gnav-item {
		display: block;
		width: 100%;
		border: none;
	}
	.gnav-item+ .gnav-item {
		border: none;
	}
	table th, table td {
		padding: .25rem !important;
	}
	table th:first-child {
		width: 25%;
	}
} /* END */

/* 小デバイス（縦向きモバイル, 576px 以上 デスクトップ, 992px 未満）
============================================== */
@media screen and (min-width: 576px) and (max-width: 991.98px) {
	details{
		text-align: center;
		height: 50px;
	}
} /* END */

/* 小デバイス（縦向きモバイル, 576px 以上）
============================================== */
@media screen and (min-width: 576px) {
	
} /* END */